

*{
    box-sizing: border-box;
    margin: 0;
   scroll-behavior: smooth;
}



/*****hamburger working*******/
.m1{
  width: 100vw;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
  height: 100px;
  position: relative;
}

.logo,
.content {
  
  font-family:'Major Mono Display', monospace;
  font-style: bolder;
  font-size: 55px;
  display: flex;
  text-decoration: none;
  color: #383FF4;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  color: rgb(24, 0, 243);
}
.logo:hover{
  color: rgba(0, 255, 106, 0.815);
}
.nav {
  width: 100%;
  background-color: #faf6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
}

.logo,
#hamburger {
  margin: 0 10%;
}

#hamburger {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.25s linear;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
  display: flex;
  align-items: center;
}

#hamburger:hover {
  opacity: 1;
}

#hamburger div,
#hamburger div:after,
#hamburger div:before {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
  transition: all 0.15s linear;
}

#hamburger div:before,
#hamburger div:after {
  content: "";
  position: absolute;
}

#hamburger div:before {
  transform: translateY(-200%);
}

#hamburger div:after {
  transform: translateY(200%);
}

#hamburger.open div {
  background: transparent;
}

#hamburger.open div:before {
  transform: rotate(45deg);
}

#hamburger.open div:after {
  transform: rotate(-45deg);
}

#overlay {
  position: fixed;
  width: 25%;
  min-height: 100%;
  background-color: #020c06;
  z-index: 1;
  transform: translateX(400%);
  transition: all 0.5s ease-in-out;
  display: flex;
  
  font-family: poppins;
  flex-direction: column;
  justify-content:center;
  align-items: center;
 
}

#overlay.menu {
  transform: translateX(300%);
  
}

#overlay a {
  text-decoration: none;
  color: #1cd17c;
  font-size: clamp(1rem, 2.5vw + 0.2rem, 8rem);
  margin: 1% 0;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

#overlay a:hover {
  opacity: 1;
}

/************************ header 1 parrt************************/



  header{
  display: flex;
  background-color: #fca8cf;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-size: 100vh;
  flex-direction:row;
  justify-content:center;
  

  }



  .circle{
    position: absolute;
    width: 210px;
    height: 180px;
    left: 145px;
    top: 85px;
    background: rgba(235, 72, 72, 0.048);
    box-shadow: 14px 14px 4px rgba(0, 0, 0, 0.199);
    border-radius: 90px;
    transform: rotate(46.12deg);

    }
    .circle2{
    position: absolute;
    width: 284px;
    height: 275px;
    left: 422px;
    top: 300px;
    border-radius: 50%;
    background: rgba(226, 244, 33, 0.192);
    }
  
    .left-col{
      width:44%;
     
    }

 
  h1{
      color:white;
      font-size: 5vw;
      font-family: montserrat;
      margin-top: 18%;
      width: auto;
      display: flex;
  }

p{
    font-size: 3.2vw;
    padding-top: 10%;
    line-height: 80px;
    font-family: poppins;
    width: 600px;
}
.s1{
  color: #5D28F4;
  font-family: montserrat;
 animation: text 3s 1;
 width: 100%;
}

@keyframes text {
  0%{
      
      margin-bottom: 0px;
  }

  30%{
      letter-spacing: 2px;
      
  }

  85%{
      letter-spacing: 8px;
      
  }
}


.image1{
  width: 100%;
  height: auto;
  transition: 300ms;
  
}
.image1:hover{
  transform: rotate(6deg);
}
.right-col{
  margin-top: 2%;
}


.btn-1{
    border-radius: 25px;
    padding: 15px;
    font-family: poppins;
    background-color: rgb(176, 70, 238);
    color: white;
    text-decoration: none;
    transition: 400ms;

}
.btn-1:hover{
    color: rgb(2, 2, 2);
    background-color: rgb(47, 255, 168);
}

/*****************container 2********************/

#about{
  display: flex;
  background-color:rgba(161, 153, 244, 0.27);
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: row;
  background-attachment: fixed;
  justify-content: center;
  background-size: 100vh;
}
.heading-2{
  font-size:4vw ;
  text-align: center;
  height: auto;
  width: auto;
  color:  #383F7C;
  font-family: Major Mono Display;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  
}

#left-col1{
  padding: 2%;
  margin-right: 2%;
  margin-top: 2%;
  
}

.image2{
  width: 100%;
  height: auto;
  transition: 300ms;
}
.image2:hover{
  transform: translateY(-20px);
}
.p1{
  font-size: 1.5vw;
  line-height: 40px;
  padding-bottom: 10%;
  width: 600px;
  text-align: justify;
  font-family:roboto;
}


/*************** container3***************************/
#Work{
  display: flex;
  background-color:rgba(153, 244, 158, 0.33);
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: row;
  justify-content: center;
  background-attachment: fixed;
  
}
.heading-3{
  font-size:4vw ;
  text-align: center;
  height: auto;
  width: auto;
  color:  #383F7C;
  font-family: Major Mono Display;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  
}
#left-col2{
  padding: 2%;
  margin-left: 50px;
 
}


.image3{
  width: auto;
  height: auto;  
  transition: 300ms;
}
.image3:hover{
  transform: translateY(-20px);
}
.p2{
  font-size: 1.5vw;
  line-height: 40px;
  margin-top: 10%;
  padding: 0%;
  font-family:roboto;
  width: 600px;
  text-align: justify;


}

.btn-2{
  border-radius: 22px;
  margin-left:40%;
  padding:  10px;
  font-family: poppins;
  background-color: rgb(176, 70, 238);
  color: white;
  
  text-decoration: none;
  text-align: center;
  transition: 400ms;

}
.btn-2:hover{
  color: rgb(2, 2, 2);
  background-color: rgb(47, 255, 168);
}
/*********************** container4*************************/

#contact{
  display: flex;
  flex-direction: row;
  background-color:rgba(3, 190, 168, 0.623);
  background-repeat: no-repeat;
  flex-direction: row;
  background-size: contain;
  justify-content: center;
  background-attachment: fixed;
  
}
.heading-4{
  font-size:4vw ;
  justify-content: center;
  height: auto;
  width: auto;
  font-family: Mali;
  font-style: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  text-shadow: -1px -1px 0 rgb(212, 200, 29), 1px -1px 0 rgb(212, 200, 29), -1px 1px 0 rgb(212, 200, 29), 1px 1px 0 rgb(212, 200, 29);
  
  
}
.heading5{
  font-size:4vw ;
  text-align: center;
  justify-content: center;
  height: auto;
  width: auto;
 
  font-family: Mali;
  font-style: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  text-shadow: -1px -1px 0 rgb(212, 200, 29), 1px -1px 0 rgb(212, 200, 29), -1px 1px 0 rgb(212, 200, 29), 1px 1px 0 rgb(212, 200, 29);
}

#left-col3{
  
  width: 50%;
  
}
.right-col3{
width: 42%;
}

.pot{
  width: 362px;
  height: 363px;
 margin-left:108px;
  margin-top: 200px;
  transition: 300ms;
}
.pot:hover{
  transform: translateY(-20px);
}
.rocket{
  width: 212px;
  height: 206px;
  margin-left: 1px;
  margin-bottom: 200px;
  top: 10px;
  filter: drop-shadow(0px 50px 6px rgba(0, 0, 0, 0.25));
  transform: rotate(10.83deg);
  transition: 300ms;
}
.rocket:hover{
  transform: rotate(26deg);
}


/*************** footer*****************************/
  footer{
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100vh;
    background-attachment: fixed;
    background-size: contain;

  }
 
  .social-media-icons{
  
    padding-top: 5%;
    text-align: center;
  }

  .fb{
    margin:1%;
    transition: 300ms;
  }
  .fb:hover{
    transition: 300ms;
    transform: translateY(-7px);
  }
  .insta{
    transition: 300ms;
    margin:1%;

  }
  .insta:hover{
    
    transform: translateY(-7px);
  }
  .twitter{
    transition: 300ms;
  margin: 1%;
  }
  .twitter:hover{
    transform: translateY(-7px);
  }
  .linkedin{
    margin: 1%;
    transition: 300ms;
  }
 .linkedin:hover{
  transform: translateY(-7px);
 }

.footer-links-2{
  display: block; 
  text-align: center; 
  padding: 2%;
}

.h{
  margin: 1%;
  color: white;
  padding: 0;
  text-decoration: none;
  font-family: poppins;
}
.h:hover{
  color: yellow;
 
  
}
.a{
  margin: 1%;
  color: white;
  text-decoration: none;
  font-family: poppins;
}
.a:hover{
  color: yellow;
}
.c{
  margin: 1%;
  color:white;
  text-decoration: none;
  font-family: poppins;
}
 
.c:hover{
  color: yellow;
  
}
/*********************************************************/  









/********************** contact form**************************/


label,
input,
textarea {
    display:block;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0.3em;
}
.span1 {
    font-weight: 700;
    color: #102a43;
    line-height: 35px;

    line-height: 2.5rem;
    font-size: 12px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
input[type="submit"] {
    background: #f3758c;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 18px;
    margin-top: 1.3em;
    transition: 300ms;
}
input[type="submit"]:hover{
    background-color: rgb(35, 228, 122);
    cursor: pointer;
}
.container {
    width: 460px;
    margin: 5em auto;
  
    margin-top: 0;
    padding-top: 100px;
    display: block;

}
form {
    background-color: #ffffff4f;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    overflow: hidden;
}

.required-star {
    color: #cf7d8c;
}

input,
textarea {
    width: 100%;
    padding: 9px 20px;
    border: 1px solid #e1e2eb;
    background-color: #fff;
    color: #102a43;
    caret-color: #829ab1;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1rem;
    line-height: 29px;
    line-height: 2rem;
    box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
    border-radius: 3px;
    line-height: 29px;
    line-height: 2rem;
}




/************ media queries********************/
@media (max-width: 800px){

 
  header{
    flex-direction: column;
  }
  .left-col{
    width: 100%;
    padding: 0 8% ;
  }
  .right-col{
  text-align: center; 
  }
  h1{
    font-size: 4em;
    padding: 0;
    
    
  }
  p{
    font-size: 4vw;
    width: 100%;
   
    line-height: 4rem;
    padding: 0 ;
  }
  .image1{
    width: 70%;
    text-align: center;
  
  }
  .btn-1{
    margin-left: 30%;
   
  }
  /*********2nd cont********/
  #about{
    flex-direction: column;
  }
  #left-col1{
    width: 70%;
    justify-content: center;
    
  }
  #right-col1{
    width: 100%;
  }

  .heading-2{
    padding: 0;
    font-size: 3rem;
    justify-content: center;
  }
  .p1{
    font-size: 4vw;
    width: 80%;
    padding-top: 10%;
    margin-left: 9%;
    
  }
  .image2{
  margin-left: 20%;
    
  }

/***3rd cont********/
  #Work{
    flex-direction: column;
    justify-content: center;
    
  }

  #left-col2{
    padding: 0 ;
    margin: 0  ;
    width: 100%;
  }
  .right-col2{
    padding: 0;
    margin: 0;
    width: 50%;
  }
  .p2{
    font-size: 4vw;
    width: 80%;
    margin-left: 9%;
    
  }
 .heading-3{
   padding: 0;
   font-size: 3rem;
   justify-content: center;
 }
 .image3{
   width: 180%;
   margin-left: 10%;;
   height: 25em;
 
 }
/**********4th cont*********/
#contact{
  flex-direction: column;

}
.heading-4{
  padding: 0;
  font-size: 3rem;
  width: 200%;
  justify-content: center;
  
 
}
.heading-5{
  padding: 0;
  width: 100%;
  font-size: 3rem;

}
.left-col3{
  width: 100%;
}
.right-col3{
  
  width: 100%;
}
.pot{
  display: none;
}
.rocket{
  display: none;
}
.navitems{
  display: none;
}


}
  /************media**********/
@media (max-width: 600px){
  header{
    flex-direction: column;
   
  }
  
  h1{
    font-size: 10vw;
    
    padding: 0;
    
  }
  p{
    font-size: 6vw;
    line-height: 1.8em;
  }
  .circle2{
    display: none;
  }
  
  /*********2nd cont********/
  #about{
    flex-direction: column;
  }
  

  .heading-2{
    padding: 0;
    font-size: 2.5rem;
    justify-content: center;
  }
  .p1{
    font-size: 1em;
    line-height: 2em;
    
  }
  

/***3rd cont********/
  #Work{
    flex-direction: column;
    justify-content: center;
    
  }

  .p2{
    font-size: 1em;
    line-height: 2em;
  }
 .heading-3{
  font-size: 2.8rem;
   
 }
 
/**********4th cont*********/
#contact{
  flex-direction: column;

}
.heading-4{
  padding: 0;
  font-size: 3rem;
  width: 200%;
  justify-content: center;
  
 
}
.heading-5{
  padding: 0;
  width: 100%;
  font-size: 3rem;

}
.left-col3{
  width: 100%;
}
.right-col3{
  
  width: 100%;
}
.pot{
  display: none;
}
.rocket{
  display: none;
}
.navitems{
  display: none;
}
.container{
  width: 80%;
}
.fb{
  width: 50px;
 
}
.insta{
  width: 60px;
}
.twitter{
  width: 50px;
}
.linkedin{
  width: 45px;
}
}

  /************media**********/
  @media (max-width: 480px){
  
  h1{
    font-size: 10vw;
  }
  p{
    font-size: 6vw;
    line-height: 1.8em;
  }
  .circle2{
    display: none;
  }
  
  /*********2nd cont********/

  .heading-2{
   font-size: 2.5rem;
  }
  .p1{
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 2em;
  }
  

/***3rd cont********/
  
  .p2{
    font-size: 1em;
    line-height: 1.8em;
  }

 
/**********4th cont*********/

.heading-4{
  font-size: 2.5rem;
}
.heading-5{
  padding: 0;
  width: 100%;
  font-size: 3rem;

}
  }